body{
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    overflow-x: unset;
}
.container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    /* border: solid; */
    padding: 0 20px;
    height: 180px;
    width:650px;
    font-size:16px;
    border-radius: 15px;
    border:0;
    box-shadow: 0 0 10px #eee;
    background: #fff;
}
.list{
    /* flex:0 0 350px */
    width: 350px;
}

/* .prices{
    flex:0 0 300px;
    width: 300px;
} */

.pricesContainer{
    flex: 0 0 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    background: #eee;
    border-radius: 8px;
}

.top{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.bottom{
    flex:0 0 20px;
    display: flex;
    margin-top: 15px;
}

.left{
    flex: 0 0 80px;
}
.top .left{
    font-weight: bold;
}

.bottom .right{
    /* display: flex; */
    /* flex-wrap: wrap;
    width:200px; */
    height: 54px;
    overflow: auto;
}

.right{
    flex: 1;
}

.brandContainer{
    display:flex;
    flex: 0 0 180px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
    box-shadow: 0 0 10px #001f5a;
    margin: 15px 0 35px 0;
    border-radius: 10px;
    padding: 5px 0;
}
.brandTitleBtn{
    width: 150px;
    display: flex;
    justify-content: center;
    padding: 5px 0;
    background: #fff;
}

.carLinkContainer{
    display:flex;
    justify-content: space-between;
}

.container:hover{
    background: lightcyan;
}

.model{
    font-weight: bold;
    font-size:25px;
}

.space div{
    margin: 10px 0;
}

.flex{
    flex: 1;
    display:flex;
    flex-direction: column;
}

.searchBar{
    flex: 0 0 60px;
    margin-bottom: 35px;
}

.carList{
    flex: 1;
}

.space{
    flex: 1;
}
